<div class="toolbar" role="banner">
</div>
<div class="content" role="main">
  <h1>Intersection</h1>

  <div class="intersection" [class.drawing]="currentZone">
    <img src="./assets/intersection.png" alt="intersection">
    <div class="zones">
      <app-zones [zones]="zones"></app-zones>
    </div>
    <div class="zones">
      <app-new-zone
        *ngIf="drawPolygon"
        [zone]="currentZone"
        (createPolygon)="createPolygon($event)"
      ></app-new-zone>
    </div>
    <div class="zone-actions">
      <button class="actions" (click)="createEditZone()">Create/Edit Zone</button>
      <button class="actions" (click)="deleteAllZones()" [disabled]="!zones?.length">Delete Zones</button>
    </div>
  </div>

  <ng-container *ngIf="showPopup">
    <app-zone-popup
      [zones]="zones"
      (onSubmit)="onSubmit($event)"
      (onClose)="closePopup($event)"
    ></app-zone-popup>
  </ng-container>
</div>
